body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    width: 60%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background-color: #fff;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
    margin-right: 5px;
}

button:hover {
    background-color: #0056b3;
}

li {
    list-style-type: none;
    background-color: #f8f8f8;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px 0;
    border-radius: 4px;
}

li > strong {
    display: block;
    font-size: 18px;
}

li > p {
    margin-top: 5px;
}
